* {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: #083032;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("/assets/farmersCover.jpg");
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.test a {
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 400;
}

nav ul li a.active {
  color: #c65b3e;
  font-weight: 600;
}

.titleAbout {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  max-width: 800px;
  margin-left: 20px;
  color: #046348;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.review {
  flex: 1 1 45%;
  padding: 20px;
  min-width: 250px;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
}

.review p {
  margin: 0 0 10px 0;
  font-size: 1.1em;
}

.farmer-name {
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: 15px;
  color: #ff6600;
}
